{% extends "base.html" %}
{% block title %}Let's do this{% endblock %}
{% block content %}
<audio id="audiofile" autoplay>
    <source src="{{ url_for('static', filename = 'two.mp3') }}" type="audio/mpeg">
</audio>
<form method="POST" action="one">
    <input type="text" name="third_guess"
           placeholder="Saddest word"
           value="{{ request.form['third_guess'] }}"
           autocomplete="off"></input>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
<div id="subtitles" style="color: #2d383a; font-size: 100px;"></div>
<script type="text/javascript">
  document.syncData= [
            { "end": "1.361","start": "0.000","text": "Two" },
            {"end": "1.658","start": "1.361","text": "can" },
            {"end": "1.914","start": "1.658","text": "be" },
            {"end": "2.084","start": "1.914","text": "as" },
            {"end": "2.500","start": "2.084","text": "bad" },
            {"end": "2.892","start": "2.500","text": "as" },
            {"end": "3.381","start": "2.892","text": "one." },
            {"end": "3.891","start": "3.381","text": "It's" },
            {"end": "4.125","start": "3.891","text": "the" },
            {"end": "4.890","start": "4.125","text": "lonliest" },
            {"end": "5.528","start": "4.890","text": "number" },
            {"end": "5.868","start": "5.528","text": "since" },
            {"end": "6.081","start": "5.868","text": "the" },
            {"end": "6.931","start": "6.081","text": "number" },
            {"end": "9.951","start": "6.931","text": "onnnnnnneeeeee" }
          ];
</script>
<script src="{{url_for('static', filename='javascript/subtitles.js')}}"></script>
{% endblock %}
